APP_NAME=Ludovic Thause Tourisme
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://ludovicthause.doliexpert.fr

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

APP_MAINTENANCE_DRIVER=file
MAINTENANCE_TOKEN=

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

DB_CONNECTION=sqlite
DB_DATABASE=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.doliexpert.fr

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_HOST=mail.doliexpert.fr
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=contact@doliexpert.fr
MAIL_FROM_NAME="Ludovic Thause Tourisme"

HERE_API_KEY=
ORS_API_KEY=
TOLLGURU_API_KEY=

VITE_APP_NAME="${APP_NAME}"
